In [243]:
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import scipy.stats
import numpy as np
from math import sqrt

In [244]:
#set up the metric calculations
def CalcRSqaured(observed, estimated):
    """Calculate the r^2 from a series of observed and estimated target values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""
    
    r, p = scipy.stats.pearsonr(observed, estimated)
    R2 = r **2
    
    return R2

def CalcRMSE(observed, estimated):
    """Calculate Root Mean Square Error between a series of observed and estimated values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""
    
    res = (observed -estimated)**2
    RMSE = round(sqrt(res.mean()), 3)
    
    return RMSE

In [245]:
cdatasub = pd.read_csv("london_flows.csv")

In [246]:
file_network = cdatasub

In [247]:
file_network = file_network.drop(file_network[file_network.distance==0].index, axis=0)
file_network = file_network.drop(file_network[file_network.jobs==0].index, axis=0)
file_network = file_network.drop(file_network[file_network.population==0].index, axis=0)

In [248]:
cdatasubmat = cdatasub.pivot_table(values ="flows", index="station_origin", columns = "station_destination",
                                    aggfunc=np.sum, margins=True)
cdatasubmat

C:\Users\W\AppData\Local\Temp\ipykernel_7512\4174315290.py:1: FutureWarning: The provided callable <function sum at 0x0000023F21A9DEE0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cdatasubmat = cdatasub.pivot_table(values ="flows", index="station_origin", columns = "station_destination",
C:\Users\W\AppData\Local\Temp\ipykernel_7512\4174315290.py:1: FutureWarning: The provided callable <function sum at 0x0000023F21A9DEE0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cdatasubmat = cdatasub.pivot_table(values ="flows", index="station_origin", columns = "station_destination",
C:\Users\W\AppData\Local\Temp\ipykernel_7512\4174315290.py:1: FutureWarning: The provided callable <function sum at 0x0000023F21A9DEE0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cdatasubmat = cdatasub.pivot_table(values ="flows", index="station_origin", columns = "station_destination",

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,599
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1224
Acton Town,NaN,NaN,NaN,3.0,17.0,NaN,35.0,0.0,NaN,11.0,...,77.0,3.0,6.0,9.0,NaN,0.0,NaN,0.0,NaN,3745
Aldgate,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,17.0,...,0.0,NaN,4.0,8.0,NaN,0.0,NaN,0.0,NaN,2886
Aldgate East,NaN,NaN,2.0,0.0,NaN,NaN,0.0,0.0,NaN,20.0,...,24.0,0.0,0.0,12.0,NaN,1.0,NaN,1.0,NaN,3172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,2.0,5.0,47.0,NaN,NaN,NaN,NaN,22.0,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4868
Woodgrange Park,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,530
Woodside Park,NaN,NaN,1.0,26.0,11.0,NaN,0.0,NaN,NaN,59.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3093
Woolwich Arsenal,20.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7892
All,345.0,750.0,2202.0,7782.0,7932.0,444.0,741.0,256.0,173.0,8103.0,...,6295.0,596.0,2146.0,1578.0,404.0,706.0,242.0,745.0,4428.0,1542391

In [249]:
x_variables = ["population", "jobs", "distance"]
log_x_vars = []
for x in x_variables:
    file_network[f"log_{x}"] = np.log(file_network[x])
    log_x_vars.append(f"log_{x}")

formula = 'flows ~ station_origin + log_jobs + distance-1'

# run a production constrained sim.
prodSim = smf.glm(formula=formula, data=file_network, family=sm.families.Poisson()).fit()

# let's have a look at it's summary.
print(prodSim.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  flows   No. Observations:                61413
Model:                            GLM   Df Residuals:                    61013
Model Family:                 Poisson   Df Model:                          399
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:            -9.0994e+05
Date:                Sat, 06 Apr 2024   Deviance:                   1.6477e+06
Time:                        12:47:10   Pearson chi2:                 2.40e+06
No. Iterations:                     8   Pseudo R-squ. (CS):              1.000
Covariance Type:            nonrobust
===============================================================================================================
                                                  coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------
station_origin[Abbey Road]                     -2.9143      0.041    -70.509      0.000      -2.995      -2.833
station_origin[Acton Central]                  -1.1621      0.029    -39.960      0.000      -1.219      -1.105
station_origin[Acton Town]                     -1.6131      0.017    -92.801      0.000      -1.647      -1.579
station_origin[Aldgate]                        -2.9430      0.020   -150.138      0.000      -2.981      -2.905
station_origin[Aldgate East]                   -2.8548      0.019   -151.960      0.000      -2.892      -2.818
station_origin[All Saints]                     -2.8783      0.037    -77.219      0.000      -2.951      -2.805
station_origin[Alperton]                       -1.6542      0.026    -64.731      0.000      -1.704      -1.604
station_origin[Amersham]                        1.0008      0.030     33.747      0.000       0.943       1.059
station_origin[Anerley]                        -1.0369      0.040    -26.044      0.000      -1.115      -0.959
station_origin[Angel]                          -2.5875      0.017   -156.011      0.000      -2.620      -2.555
station_origin[Archway]                        -1.7164      0.015   -117.258      0.000      -1.745      -1.688
station_origin[Arnos Grove]                    -1.4184      0.019    -73.907      0.000      -1.456      -1.381
station_origin[Arsenal]                        -2.8836      0.022   -128.905      0.000      -2.927      -2.840
station_origin[Baker Street]                   -2.0100      0.013   -154.107      0.000      -2.036      -1.984
station_origin[Balham]                         -0.8774      0.012    -73.687      0.000      -0.901      -0.854
station_origin[Bank and Monument]              -0.7522      0.008    -90.130      0.000      -0.769      -0.736
station_origin[Barbican]                       -3.8356      0.029   -131.979      0.000      -3.893      -3.779
station_origin[Barking]                        -0.5144      0.013    -40.520      0.000      -0.539      -0.490
station_origin[Barkingside]                    -1.4598      0.028    -51.227      0.000      -1.516      -1.404
station_origin[Barons Court]                   -2.1412      0.017   -127.494      0.000      -2.174      -2.108
station_origin[Bayswater]                      -3.2347      0.026   -124.738      0.000      -3.286      -3.184
station_origin[Beckton]                        -1.5104      0.030    -50.777      0.000      -1.569      -1.452
station_origin[Beckton Park]                   -3.1889      0.059    -54.287      0.000      -3.304      -3.074
station_origin[Becontree]                      -1.2801      0.022    -59.004      0.000      -1.323      -1.238
station_origin[Belsize Park]                   -2.5574      0.020   -127.623      0.000      -2.597      -2.518
station_origin[Bermondsey]                     -2.2016      0.015   -143.940      0.000      -2.232      -2.172
station_origin[Bethnal Green]                  -1.9074      0.014   -140.471      0.000      -1.934      -1.881
station_origin[Blackfriars]                    -2.1836      0.014   -160.677      0.000      -2.210      -2.157
station_origin[Blackhorse Road]                -0.7628      0.012    -61.184      0.000      -0.787      -0.738
station_origin[Blackwall]                      -2.6252      0.033    -79.590      0.000      -2.690      -2.561
station_origin[Bond Street]                    -3.3899      0.023   -147.722      0.000      -3.435      -3.345
station_origin[Borough]                        -3.7200      0.028   -133.150      0.000      -3.775      -3.665
station_origin[Boston Manor]                   -2.2146      0.030    -74.504      0.000      -2.273      -2.156
station_origin[Bounds Green]                   -1.2461      0.016    -76.669      0.000      -1.278      -1.214
station_origin[Bow Church]                     -1.8999      0.025    -75.109      0.000      -1.950      -1.850
station_origin[Bow Road]                       -2.2046      0.017   -129.956      0.000      -2.238      -2.171
station_origin[Brent Cross]                    -2.4082      0.027    -90.490      0.000      -2.460      -2.356
station_origin[Brentwood]                       1.4828      0.022     66.904      0.000       1.439       1.526
station_origin[Brixton]                        -0.3423      0.009    -38.264      0.000      -0.360      -0.325
station_origin[Brockley]                       -0.6217      0.021    -28.949      0.000      -0.664      -0.580
station_origin[Bromley-by-Bow]                 -2.5528      0.021   -123.146      0.000      -2.593      -2.512
station_origin[Brondesbury]                    -1.0684      0.023    -46.193      0.000      -1.114      -1.023
station_origin[Brondesbury Park]               -2.1561      0.038    -56.110      0.000      -2.231      -2.081
station_origin[Bruce Grove]                    -1.2927      0.033    -39.442      0.000      -1.357      -1.228
station_origin[Buckhurst Hill]                 -1.3528      0.026    -52.579      0.000      -1.403      -1.302
station_origin[Burnt Oak]                      -1.0474      0.019    -54.284      0.000      -1.085      -1.010
station_origin[Bush Hill Park]                 -0.3144      0.027    -11.466      0.000      -0.368      -0.261
station_origin[Bushey]                         -1.3622      0.065    -20.951      0.000      -1.490      -1.235
station_origin[Caledonian Road]                -2.7788      0.020   -140.893      0.000      -2.817      -2.740
station_origin[Caledonian Road & Barnsbury]    -2.7434      0.043    -63.361      0.000      -2.828      -2.659
station_origin[Cambridge Heath]                -3.0280      0.056    -54.483      0.000      -3.137      -2.919
station_origin[Camden Road]                    -1.8319      0.029    -62.472      0.000      -1.889      -1.774
station_origin[Camden Town]                    -2.6922      0.018   -146.738      0.000      -2.728      -2.656
station_origin[Canada Water]                   -0.5030      0.009    -58.529      0.000      -0.520      -0.486
station_origin[Canary Wharf]                   -0.9442      0.010    -92.700      0.000      -0.964      -0.924
station_origin[Canning Town]                   -0.4441      0.009    -48.626      0.000      -0.462      -0.426
station_origin[Cannon Street]                  -2.7472      0.017   -159.727      0.000      -2.781      -2.714
station_origin[Canonbury]                      -1.3762      0.021    -64.979      0.000      -1.418      -1.335
station_origin[Canons Park]                    -0.8828      0.022    -40.580      0.000      -0.925      -0.840
station_origin[Carpenders Park]                 0.1979      0.028      7.092      0.000       0.143       0.253
station_origin[Chadwell Heath]                  0.7186      0.017     42.008      0.000       0.685       0.752
station_origin[Chalfont & Latimer]              0.4170      0.033     12.566      0.000       0.352       0.482
station_origin[Chalk Farm]                     -2.8534      0.021   -133.761      0.000      -2.895      -2.812
station_origin[Chancery Lane]                  -3.9720      0.030   -131.809      0.000      -4.031      -3.913
station_origin[Charing Cross]                  -2.3038      0.014   -166.913      0.000      -2.331      -2.277
station_origin[Chesham]                         1.2150      0.033     36.390      0.000       1.150       1.280
station_origin[Cheshunt]                       -1.2998      0.077    -16.953      0.000      -1.450      -1.150
station_origin[Chigwell]                       -2.3385      0.047    -50.240      0.000      -2.430      -2.247
station_origin[Chingford]                       0.3059      0.023     13.317      0.000       0.261       0.351
station_origin[Chiswick Park]                  -2.7730      0.029    -97.136      0.000      -2.829      -2.717
station_origin[Chorleywood]                     0.0011      0.034      0.031      0.975      -0.065       0.067
station_origin[Clapham Common]                 -1.9095      0.016   -123.041      0.000      -1.940      -1.879
station_origin[Clapham High Street]            -0.7051      0.026    -26.712      0.000      -0.757      -0.653
station_origin[Clapham Junction]                0.6576      0.013     49.663      0.000       0.632       0.684
station_origin[Clapham North]                  -2.5475      0.020   -129.260      0.000      -2.586      -2.509
station_origin[Clapham South]                  -1.4345      0.014   -104.600      0.000      -1.461      -1.408
station_origin[Clapton]                        -1.2815      0.027    -48.255      0.000      -1.334      -1.229
station_origin[Cockfosters]                    -1.7197      0.032    -53.220      0.000      -1.783      -1.656
station_origin[Colindale]                      -0.6719      0.015    -44.691      0.000      -0.701      -0.642
station_origin[Colliers Wood]                  -0.9725      0.015    -65.714      0.000      -1.002      -0.943
station_origin[Covent Garden]                  -5.0230      0.049   -102.637      0.000      -5.119      -4.927
station_origin[Crossharbour]                   -1.9289      0.025    -77.665      0.000      -1.978      -1.880
station_origin[Crouch Hill]                    -2.2560      0.051    -44.294      0.000      -2.356      -2.156
station_origin[Croxley]                        -0.3692      0.032    -11.644      0.000      -0.431      -0.307
station_origin[Crystal Palace]                  0.1565      0.023      6.684      0.000       0.111       0.202
station_origin[Custom House]                   -2.5926      0.036    -71.624      0.000      -2.664      -2.522
station_origin[Cutty Sark]                     -1.4802      0.023    -65.702      0.000      -1.524      -1.436
station_origin[Cyprus]                         -2.6251      0.045    -58.173      0.000      -2.714      -2.537
station_origin[Dagenham East]                  -1.0684      0.024    -45.067      0.000      -1.115      -1.022
station_origin[Dagenham Heathway]              -0.7136      0.018    -38.782      0.000      -0.750      -0.678
station_origin[Dalston Junction]               -0.7147      0.017    -41.988      0.000      -0.748      -0.681
station_origin[Dalston Kingsland]              -1.0659      0.020    -54.619      0.000      -1.104      -1.028
station_origin[Debden]                         -0.7706      0.026    -30.064      0.000      -0.821      -0.720
station_origin[Denmark Hill]                   -0.7401      0.024    -30.909      0.000      -0.787      -0.693
station_origin[Deptford Bridge]                -1.1208      0.021    -53.515      0.000      -1.162      -1.080
station_origin[Devons Road]                    -2.1640      0.028    -78.557      0.000      -2.218      -2.110
station_origin[Dollis Hill]                    -2.0392      0.021    -98.262      0.000      -2.080      -1.999
station_origin[Ealing Broadway]                -0.1107      0.011    -10.388      0.000      -0.132      -0.090
station_origin[Ealing Common]                  -2.1083      0.023    -91.189      0.000      -2.154      -2.063
station_origin[Earl's Court]                   -1.6292      0.012   -131.372      0.000      -1.653      -1.605
station_origin[East Acton]                     -2.2614      0.021   -105.343      0.000      -2.303      -2.219
station_origin[East Finchley]                  -1.1885      0.014    -82.111      0.000      -1.217      -1.160
station_origin[East Ham]                       -0.8444      0.013    -65.544      0.000      -0.870      -0.819
station_origin[East India]                     -2.0472      0.025    -83.239      0.000      -2.095      -1.999
station_origin[East Putney]                    -1.4433      0.015    -97.347      0.000      -1.472      -1.414
station_origin[Eastcote]                       -0.6394      0.021    -30.717      0.000      -0.680      -0.599
station_origin[Edgware]                        -0.7101      0.018    -38.723      0.000      -0.746      -0.674
station_origin[Edgware Road]                   -2.8753      0.020   -146.034      0.000      -2.914      -2.837
station_origin[Edmonton Green]                 -0.2908      0.023    -12.847      0.000      -0.335      -0.246
station_origin[Elephant & Castle]              -1.7918      0.012   -149.169      0.000      -1.815      -1.768
station_origin[Elm Park]                       -0.4196      0.020    -20.773      0.000      -0.459      -0.380
station_origin[Elverson Road]                  -1.7220      0.030    -57.206      0.000      -1.781      -1.663
station_origin[Embankment]                     -2.7621      0.017   -164.610      0.000      -2.795      -2.729
station_origin[Emerson Park]                   -0.0402      0.055     -0.734      0.463      -0.148       0.067
station_origin[Enfield Town]                    0.1124      0.024      4.636      0.000       0.065       0.160
station_origin[Epping]                          0.6467      0.020     32.446      0.000       0.608       0.686
station_origin[Euston]                         -1.2108      0.010   -126.033      0.000      -1.230      -1.192
station_origin[Euston Square]                  -2.3759      0.015   -153.408      0.000      -2.406      -2.346
station_origin[Fairlop]                        -1.5577      0.032    -48.095      0.000      -1.621      -1.494
station_origin[Farringdon]                     -2.4174      0.015   -157.717      0.000      -2.447      -2.387
station_origin[Finchley Central]               -0.7653      0.014    -54.248      0.000      -0.793      -0.738
station_origin[Finchley Road]                  -1.9823      0.016   -126.033      0.000      -2.013      -1.951
station_origin[Finchley Road & Frognal]        -1.6518      0.030    -54.764      0.000      -1.711      -1.593
station_origin[Finsbury Park]                  -0.3892      0.009    -44.260      0.000      -0.406      -0.372
station_origin[Forest Gate]                    -0.5833      0.021    -27.204      0.000      -0.625      -0.541
station_origin[Forest Hill]                    -0.1850      0.021     -8.802      0.000      -0.226      -0.144
station_origin[Fulham Broadway]                -2.3591      0.018   -128.072      0.000      -2.395      -2.323
station_origin[Gallions Reach]                 -2.2560      0.040    -56.239      0.000      -2.335      -2.177
station_origin[Gants Hill]                     -0.6025      0.015    -39.528      0.000      -0.632      -0.573
station_origin[Gidea Park]                      1.0780      0.018     59.689      0.000       1.043       1.113
station_origin[Gloucester Road]                -2.2768      0.016   -145.601      0.000      -2.307      -2.246
station_origin[Golders Green]                  -1.4829      0.016    -94.388      0.000      -1.514      -1.452
station_origin[Goldhawk Road]                  -2.9549      0.028   -105.912      0.000      -3.010      -2.900
station_origin[Goodge Street]                  -5.0892      0.053    -96.715      0.000      -5.192      -4.986
station_origin[Goodmayes]                       0.3635      0.019     19.197      0.000       0.326       0.401
station_origin[Gospel Oak]                     -1.9762      0.031    -63.982      0.000      -2.037      -1.916
station_origin[Grange Hill]                    -1.8501      0.040    -46.653      0.000      -1.928      -1.772
station_origin[Great Portland Street]          -3.7992      0.030   -125.473      0.000      -3.859      -3.740
station_origin[Green Park]                     -3.3950      0.023   -148.890      0.000      -3.440      -3.350
station_origin[Greenford]                      -1.0576      0.020    -52.310      0.000      -1.097      -1.018
station_origin[Greenwich]                      -1.8148      0.028    -65.647      0.000      -1.869      -1.761
station_origin[Gunnersbury]                    -2.1986      0.022   -100.896      0.000      -2.241      -2.156
station_origin[Hackney Central]                -0.8168      0.018    -44.820      0.000      -0.852      -0.781
station_origin[Hackney Downs]                  -1.5651      0.035    -44.758      0.000      -1.634      -1.497
station_origin[Hackney Wick]                   -1.8563      0.027    -69.412      0.000      -1.909      -1.804
station_origin[Haggerston]                     -1.3921      0.023    -60.948      0.000      -1.437      -1.347
station_origin[Hainault]                       -0.3369      0.019    -17.639      0.000      -0.374      -0.299
station_origin[Hammersmith]                    -0.9841      0.011    -90.128      0.000      -1.005      -0.963
station_origin[Hampstead]                      -2.7373      0.024   -115.679      0.000      -2.784      -2.691
station_origin[Hampstead Heath]                -2.0776      0.034    -61.948      0.000      -2.143      -2.012
station_origin[Hanger Lane]                    -1.8545      0.023    -79.859      0.000      -1.900      -1.809
station_origin[Harlesden]                      -2.6205      0.027    -98.868      0.000      -2.672      -2.569
station_origin[Harold Wood]                     1.2340      0.019     64.371      0.000       1.196       1.272
station_origin[Harringay Green Lanes]          -1.6656      0.045    -37.245      0.000      -1.753      -1.578
station_origin[Harrow & Wealdstone]            -1.2729      0.025    -51.360      0.000      -1.321      -1.224
station_origin[Harrow-on-the-Hill]             -0.2232      0.014    -15.957      0.000      -0.251      -0.196
station_origin[Hatch End]                      -0.3714      0.035    -10.693      0.000      -0.439      -0.303
station_origin[Hatton Cross]                   -0.9812      0.028    -35.215      0.000      -1.036      -0.927
station_origin[Headstone Lane]                 -1.1261      0.046    -24.236      0.000      -1.217      -1.035
station_origin[Heathrow Terminal 4]            -1.3373      0.036    -37.491      0.000      -1.407      -1.267
station_origin[Heathrow Terminal 5]            -0.7346      0.033    -22.071      0.000      -0.800      -0.669
station_origin[Heathrow Terminals 2 & 3]       -0.2498      0.022    -11.228      0.000      -0.293      -0.206
station_origin[Hendon Central]                 -1.2716      0.017    -75.245      0.000      -1.305      -1.238
station_origin[Heron Quays]                    -1.9748      0.024    -80.809      0.000      -2.023      -1.927
station_origin[High Barnet]                    -0.4872      0.019    -26.032      0.000      -0.524      -0.451
station_origin[High Street Kensington]         -2.9988      0.022   -134.348      0.000      -3.043      -2.955
station_origin[Highams Park]                    0.1096      0.019      5.656      0.000       0.072       0.148
station_origin[Highbury & Islington]           -0.6981      0.009    -79.233      0.000      -0.715      -0.681

In [250]:
#create some Oi and Dj columns in the dataframe and store row and column totals in them:
#to create O_i, take file_network ...then... group by origcodenew ...then... summarise by calculating the sum of Total
O_i = pd.DataFrame(file_network.groupby(["station_origin"])["flows"].agg(np.sum))
O_i.rename(columns={"flows":"O_i"}, inplace = True)
file_network = file_network.merge(O_i, on = "station_origin", how = "left" )

D_j = pd.DataFrame(file_network.groupby(["station_destination"])["flows"].agg(np.sum))
D_j.rename(columns={"flows":"D_j"}, inplace = True)
file_network = file_network.merge(D_j, on = "station_destination", how = "left" )

C:\Users\W\AppData\Local\Temp\ipykernel_7512\175435249.py:3: FutureWarning: The provided callable <function sum at 0x0000023F21A9DEE0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  O_i = pd.DataFrame(file_network.groupby(["station_origin"])["flows"].agg(np.sum))
C:\Users\W\AppData\Local\Temp\ipykernel_7512\175435249.py:7: FutureWarning: The provided callable <function sum at 0x0000023F21A9DEE0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  D_j = pd.DataFrame(file_network.groupby(["station_destination"])["flows"].agg(np.sum))

In [251]:
# we can do this by pulling out the parameter values.
coefs = pd.DataFrame(prodSim.params)
coefs.reset_index(inplace=True)
coefs.rename(columns={0: "alpha_i", "index": "coef"}, inplace=True)
coefs

                                 coef   alpha_i
0          station_origin[Abbey Road] -2.914322
1       station_origin[Acton Central] -1.162092
2          station_origin[Acton Town] -1.613081
3             station_origin[Aldgate] -2.943047
4        station_origin[Aldgate East] -2.854752
..                                ...       ...
395   station_origin[Woodgrange Park] -0.896422
396     station_origin[Woodside Park] -1.149110
397  station_origin[Woolwich Arsenal]  0.518041
398                          log_jobs  0.755222
399                          distance -0.000153

[400 rows x 2 columns]

In [252]:
to_repl = ["(station_origin)", "\[", "\]"]
for x in to_repl:
    coefs["coef"] = coefs["coef"].str.replace(x, "",regex=True)
coefs

                 coef   alpha_i
0          Abbey Road -2.914322
1       Acton Central -1.162092
2          Acton Town -1.613081
3             Aldgate -2.943047
4        Aldgate East -2.854752
..                ...       ...
395   Woodgrange Park -0.896422
396     Woodside Park -1.149110
397  Woolwich Arsenal  0.518041
398          log_jobs  0.755222
399          distance -0.000153

[400 rows x 2 columns]

In [253]:
# then once you have done this you can join them back into the dataframes
file_network = file_network.merge(coefs, left_on="station_origin", right_on="coef", how="left")
file_network.drop(columns=["coef"], inplace=True)

# check this has worked
file_network.head()

,station_origin,station_destination,flows,population,jobs,distance,log_population,log_jobs,log_distance,O_i,D_j,alpha_i
0,Abbey Road,Bank and Monument,0,599,78549,8131.525097,6.395262,11.271478,9.003504,599,78549,-2.914322
1,Abbey Road,Beckton,1,599,442,8510.121774,6.395262,6.091310,9.049012,599,442,-2.914322
2,Abbey Road,Blackwall,3,599,665,3775.448872,6.395262,6.499787,8.236275,599,665,-2.914322
3,Abbey Road,Canary Wharf,1,599,58772,5086.514220,6.395262,10.981421,8.534348,599,58772,-2.914322
4,Abbey Road,Canning Town,37,599,15428,2228.923167,6.395262,9.643939,7.709274,599,15428,-2.914322

In [254]:
alpha_i = prodSim.params[0:-2]
gamma = prodSim.params[-2]
beta = -prodSim.params[-1]

C:\Users\W\AppData\Local\Temp\ipykernel_7512\1887813951.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  gamma = prodSim.params[-2]
C:\Users\W\AppData\Local\Temp\ipykernel_7512\1887813951.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  beta = -prodSim.params[-1]

In [255]:
alpha_i

station_origin[Abbey Road]         -2.914322
station_origin[Acton Central]      -1.162092
station_origin[Acton Town]         -1.613081
station_origin[Aldgate]            -2.943047
station_origin[Aldgate East]       -2.854752
                                      ...
station_origin[Wood Street]        -0.942621
station_origin[Woodford]           -0.633605
station_origin[Woodgrange Park]    -0.896422
station_origin[Woodside Park]      -1.149110
station_origin[Woolwich Arsenal]    0.518041
Length: 398, dtype: float64

In [256]:
gamma

0.7552215895693627

In [257]:
beta

0.00015316619346473007

In [258]:
file_network["prodsimest1"] = np.round(prodSim.mu,0)

In [259]:
cdatasubmatS = file_network.pivot_table(values ="prodsimest1", index="station_origin", columns = "station_destination",
                                    aggfunc=np.sum, margins=True)
cdatasubmatS

C:\Users\W\AppData\Local\Temp\ipykernel_7512\1938050222.py:1: FutureWarning: The provided callable <function sum at 0x0000023F21A9DEE0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cdatasubmatS = file_network.pivot_table(values ="prodsimest1", index="station_origin", columns = "station_destination",
C:\Users\W\AppData\Local\Temp\ipykernel_7512\1938050222.py:1: FutureWarning: The provided callable <function sum at 0x0000023F21A9DEE0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cdatasubmatS = file_network.pivot_table(values ="prodsimest1", index="station_origin", columns = "station_destination",
C:\Users\W\AppData\Local\Temp\ipykernel_7512\1938050222.py:1: FutureWarning: The provided callable <function sum at 0x0000023F21A9DEE0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cdatasubmatS = file_network.pivot_table(values ="prodsimest1", index="station_origin", columns = "station_destination",

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,595.0
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1226.0
Acton Town,NaN,NaN,NaN,13.0,13.0,NaN,14.0,0.0,NaN,16.0,...,13.0,3.0,2.0,20.0,NaN,0.0,NaN,1.0,NaN,3744.0
Aldgate,NaN,NaN,1.0,NaN,37.0,NaN,NaN,0.0,NaN,27.0,...,2.0,NaN,2.0,2.0,NaN,1.0,NaN,1.0,NaN,2885.0
Aldgate East,NaN,NaN,1.0,40.0,NaN,NaN,0.0,0.0,NaN,29.0,...,2.0,0.0,3.0,2.0,NaN,1.0,NaN,1.0,NaN,3160.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,1.0,41.0,52.0,NaN,NaN,NaN,NaN,30.0,...,2.0,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,4867.0
Woodgrange Park,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,532.0
Woodside Park,NaN,NaN,2.0,19.0,19.0,NaN,0.0,NaN,NaN,32.0,...,3.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,3100.0
Woolwich Arsenal,34.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7893.0
All,392.0,359.0,2161.0,8549.0,9502.0,538.0,617.0,166.0,170.0,9870.0,...,1983.0,410.0,1778.0,1602.0,397.0,660.0,160.0,422.0,1089.0,1541347.0

In [260]:
CalcRSqaured(file_network["flows"],file_network["prodsimest1"])

0.46806484435428586

In [261]:
CalcRMSE(file_network["flows"],file_network["prodsimest1"])

96.263

## Scenario A

In [262]:
def new_sal(row):
    if row["station_destination"] == "Canary Wharf":
        val = row["jobs"]/2
    else:
        val = row["jobs"]
    return val


file_network["jobs_scenario_A"] = file_network.apply(new_sal, axis=1)
file_network.head(5)

,station_origin,station_destination,flows,population,jobs,distance,log_population,log_jobs,log_distance,O_i,D_j,alpha_i,prodsimest1,jobs_scenario_A
0,Abbey Road,Bank and Monument,0,599,78549,8131.525097,6.395262,11.271478,9.003504,599,78549,-2.914322,78.0,78549.0
1,Abbey Road,Beckton,1,599,442,8510.121774,6.395262,6.091310,9.049012,599,442,-2.914322,1.0,442.0
2,Abbey Road,Blackwall,3,599,665,3775.448872,6.395262,6.499787,8.236275,599,665,-2.914322,4.0,665.0
3,Abbey Road,Canary Wharf,1,599,58772,5086.514220,6.395262,10.981421,8.534348,599,58772,-2.914322,99.0,29386.0
4,Abbey Road,Canning Town,37,599,15428,2228.923167,6.395262,9.643939,7.709274,599,15428,-2.914322,56.0,15428.0

In [265]:
file_network_A = file_network
file_network_A = file_network_A.drop(columns=["jobs"])
file_network_A = file_network_A.drop(columns=["log_jobs"])
file_network_A["jobs"] = file_network_A["jobs_scenario_A"]

In [266]:
x_variables = ["jobs"]
log_x_vars = []
for x in x_variables:
    file_network_A[f"log_{x}"] = np.log(file_network_A[x])
    log_x_vars.append(f"log_{x}")

file_network_A

,station_origin,station_destination,flows,population,distance,log_population,log_distance,O_i,D_j,alpha_i,prodsimest1,jobs_scenario_A,jobs,log_jobs
0,Abbey Road,Bank and Monument,0,599,8131.525097,6.395262,9.003504,599,78549,-2.914322,78.0,78549.0,78549.0,11.271478
1,Abbey Road,Beckton,1,599,8510.121774,6.395262,9.049012,599,442,-2.914322,1.0,442.0,442.0,6.091310
2,Abbey Road,Blackwall,3,599,3775.448872,6.395262,8.236275,599,665,-2.914322,4.0,665.0,665.0,6.499787
3,Abbey Road,Canary Wharf,1,599,5086.514220,6.395262,8.534348,599,58772,-2.914322,99.0,29386.0,29386.0,10.288274
4,Abbey Road,Canning Town,37,599,2228.923167,6.395262,7.709274,599,15428,-2.914322,56.0,15428.0,15428.0,9.643939
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61408,Woolwich Arsenal,Tower Gateway,127,7892,13401.795549,8.973605,9.503144,7892,3342,0.518041,99.0,3342.0,3342.0,8.114325
61409,Woolwich Arsenal,West Ham,608,7892,8701.454361,8.973605,9.071245,7892,5487,0.518041,295.0,5487.0,5487.0,8.610137
61410,Woolwich Arsenal,West India Quay,6,7892,9536.720451,8.973605,9.162905,7892,400,0.518041,36.0,400.0,400.0,5.991465
61411,Woolwich Arsenal,West Silvertown,81,7892,5355.248554,8.973605,8.585832,7892,893,0.518041,125.0,893.0,893.0,6.794587
61412,Woolwich Arsenal,Westferry,76,7892,9958.371322,8.973605,9.206169,7892,1250,0.518041,80.0,1250.0,1250.0,7.130899

In [272]:
# to check everything works, recreate the original estimates
file_network_A["prodsimestA2"] = np.exp(file_network_A["alpha_i"]+gamma*file_network_A["log_jobs"] - beta*file_network_A["distance"])


# round
file_network_A["prodsimestA2"] = round(file_network_A["prodsimestA2"],0)

cdatasubmatA2 = file_network_A.pivot_table(values ="prodsimestA2", index="station_origin", columns = "station_destination",
                                    aggfunc=np.sum, margins=True)
cdatasubmatA2

C:\Users\W\AppData\Local\Temp\ipykernel_7512\108133647.py:8: FutureWarning: The provided callable <function sum at 0x0000023F21A9DEE0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cdatasubmatA2 = file_network_A.pivot_table(values ="prodsimestA2", index="station_origin", columns = "station_destination",
C:\Users\W\AppData\Local\Temp\ipykernel_7512\108133647.py:8: FutureWarning: The provided callable <function sum at 0x0000023F21A9DEE0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cdatasubmatA2 = file_network_A.pivot_table(values ="prodsimestA2", index="station_origin", columns = "station_destination",
C:\Users\W\AppData\Local\Temp\ipykernel_7512\108133647.py:8: FutureWarning: The provided callable <function sum at 0x0000023F21A9DEE0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cdatasubmatA2 = file_network_A.pivot_table(values ="prodsimestA2", index="station_origin", columns = "station_destination",

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,555.0
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1226.0
Acton Town,NaN,NaN,NaN,13.0,13.0,NaN,14.0,0.0,NaN,16.0,...,13.0,3.0,2.0,20.0,NaN,0.0,NaN,1.0,NaN,3730.0
Aldgate,NaN,NaN,1.0,NaN,37.0,NaN,NaN,0.0,NaN,27.0,...,2.0,NaN,2.0,2.0,NaN,1.0,NaN,1.0,NaN,2854.0
Aldgate East,NaN,NaN,1.0,40.0,NaN,NaN,0.0,0.0,NaN,29.0,...,2.0,0.0,3.0,2.0,NaN,1.0,NaN,1.0,NaN,3117.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,1.0,41.0,52.0,NaN,NaN,NaN,NaN,30.0,...,2.0,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,4765.0
Woodgrange Park,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,532.0
Woodside Park,NaN,NaN,2.0,19.0,19.0,NaN,0.0,NaN,NaN,32.0,...,3.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,3083.0
Woolwich Arsenal,34.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7290.0
All,392.0,359.0,2161.0,8549.0,9502.0,538.0,617.0,166.0,170.0,9870.0,...,1983.0,410.0,1778.0,1602.0,397.0,660.0,160.0,422.0,1089.0,1521909.0

In [273]:
#calculate some new Dj^gamma and d_ij^beta values
Dj2_gamma = file_network_A["log_jobs"]**gamma
dist_beta = file_network_A["distance"]**-beta
#calcualte the first stage of the Ai values
file_network_A["Ai1"] = Dj2_gamma * dist_beta
#now do the sum over all js bit
A_i = pd.DataFrame(file_network_A.groupby(["station_origin"])["Ai1"].agg(np.sum))
#now divide into 1
A_i["Ai1"] = 1/A_i["Ai1"]
A_i.rename(columns={"Ai1":"A_i"}, inplace=True)
#and write the A_i values back into the dataframe
file_network_A = file_network_A.merge(A_i, left_on="station_origin", right_index=True, how="left")

C:\Users\W\AppData\Local\Temp\ipykernel_7512\2385653991.py:7: FutureWarning: The provided callable <function sum at 0x0000023F21A9DEE0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  A_i = pd.DataFrame(file_network_A.groupby(["station_origin"])["Ai1"].agg(np.sum))

In [278]:
#to check everything works, recreate the original estimates
file_network_A["prodsimest3"] = file_network_A["A_i"]*file_network_A["O_i"]*Dj2_gamma*dist_beta
#round
file_network_A["prodsimest3"] = round(file_network_A["prodsimest3"])
#check
file_network_A[["prodsimest1", "prodsimest3"]]

       prodsimest1  prodsimest3
0             78.0         26.0
1              1.0         16.0
2              4.0         17.0
3             99.0         24.0
4             56.0         23.0
...            ...          ...
61408         99.0        220.0
61409        295.0        230.0
61410         36.0        175.0
61411        125.0        192.0
61412         80.0        200.0

[61413 rows x 2 columns]

In [68]:
cdatasubmat1 = file_network.pivot_table(values="prodsimest1", index="station_origin", columns="station_destination",
                                        aggfunc=np.sum, margins=True)
cdatasubmat1

KeyError: 'prodsimest1'

In [20]:
CalcRSqaured(file_network["flows"], file_network["prodsimest1"])

0.3740090678013128

In [21]:
CalcRMSE(file_network["flows"], file_network["prodsimest1"])

104.106